footer.footer
  .footer__logo
    img(src='/img/in-logo-green.png' alt='Intour logo')
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a guide
    li: a(href='#') Careers
    li: a(href='#') Contact
  p.footer__copyright &copy; by Avtar Singh. Inspired from Natours project by Jonas Schmedtmann.